<div id = "content">
  <%= image_tag "logo.png", id: "logo" %>
  <nav id = "nav">
    <%= link_to "home", root_path, class: "link" %>
    <%= link_to "projects", "#", class: "link" %>
    <%= link_to "clients", "#", class: "link" %>
    <%= link_to "contact", contact_path, class: "link" %>
  </nav>
  <a href = "#" id = "left"> <%= image_tag "arrow.png", class: "arrow" %> </a>
  <a href = "#" id = "right"> <%= image_tag "arrowr.png", class: "arrow" %> </a>

</div>
<div id = "links">
  <p>Other stuff!</p>
</div>



