
<%= render "static_pages/partials/header" %>

<div id = "content">

  <div class = "content-backgrounds">
    <div class = "shadow"/>
  </div>

  <span id = "left" class = "arrow glyphicon glyphicon-chevron-left left" ></span>
  <span id = "right" class = "arrow glyphicon glyphicon-chevron-right right" ></span>

  <%= image_tag "small_logo.png", id: "small-logo", class: "col-md-4" %>

</div>

<br />

<div class = "row info-pane">
  <div id = "info" class = "col-md-6 col-md-offset-1">
    <blockquote><strong>ABOUT</strong></blockquote>
    <p class = "home-copy">
      RendArt is an up-and-coming rendering service specializing in architectural visualizations. We are confident that we can provide a rendered image with the desired style and effects that best portray your project or product. Thanks to beautiful realism, expressive styles, and a vision of showing off new concepts, your clients will love what they see and be excited about what's to come. When you're ready, send us a message.
    </p>
    <blockquote><strong>SERVICES</strong></blockquote>
    <p class = "home-copy">
      <dl>
        <div class = "col-md-4 home-copy">
          <dt> Rendering </dt>
          <dd> Realistic </dd>
          <dd> 3D walk-through</dd>
          <dd> Animated fly-through </dd>
          <dd> Textured </dd>
          <dd> Colored </dd>
          <dd> Sketchy </dd>
          <dd> Custom Styles </dd>
          <dd> 3D Floor Plans </dd>
          <dd> Massing Models </dd>
        </div>
        <div class = "col-md-4 home-copy">
          <dt> Photography </dt>
          <dd> Finished Projects </dd>
          <dd> Before/ After </dd>
        </div>
        <div class = "col-md-4 home-copy">
          <dt> Marketing </dt>
          <dd> Logos </dd>
          <dd> Branding </dd>
          <dd> Product Design/ Models </dd>
          <dd> Graphic Design </dd>
        </div>
      </dl>
    </p>
  </div>

  <div id = "email" class = "col-md-4">

    <blockquote><strong>TALK TO ME</strong></blockquote>
    <%= form_tag :emails %>
      <%=  email_field(:email, :from, placeholder: "Your email address", class: "form-control") %> 
      <br />
      <%=  text_area(:email, :body, rows: 12, placeholder: "Your message", class: "form-control") %>
      <br />
      <%= submit_tag "Send it", class: "btn form-control btn-primary" %>
  </div>
</div>

<br />

<div id = "footer">
</div>

