<div id = "content" class = "projects-page">

  <div class = "" id = "header">
    <%= image_tag "logo.png", id: "logo", class: "col-md-4" %>

    <nav id = "nav" class = "col-md-7">
      <%= link_to "home", root_path, class: "link" %>
      <%= link_to "projects", projects_path, class: "link" %>
      <%= link_to "clients", "#", class: "link" %>
      <%= link_to "contact", contact_path, class: "link" %>
    </nav>

  </div>

  <div class = "headings">
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>exterior</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>office</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>public service</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>residential</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>physical model</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>sketch</strong></blockquote></div></a>
  </div>

  <div class = "projects">

    <div class = "row project-row">
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
    </div>

    <br />

    <div class = "row project-row">
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
      <div class = "col-md-2 "><%= image_tag "/assets/cequel.jpg", class: "project-image" %></div>
    </div>

    <br />

  </div>



  <!--
  <div class = "col-md-3 project-image thumbnail"><%= image_tag "/assets/station4.jpg" %></div>
  <div class = "col-md-3 project-image thumbnail"><%= image_tag "/assets/cozzens3.jpg" %></div>
  <div class = "col-md-3 project-image thumbnail"><%= image_tag "/assets/residential5_copy.jpg" %></div>
  -->

