<div id = "content" class = "projects-page">

  <div class = "" id = "header">
    <a href = "/"><%= image_tag "logo.png", id: "logo", class: "col-md-4" %></a>

    <nav id = "nav" class = "col-md-7">
      <%= link_to "home", root_path, class: "link" %>
      <%= link_to "projects", "/projects/exterior", class: "link" %>
      <%= link_to "clients", "#", class: "link" %>
      <%= link_to "contact", contact_path, class: "link" %>
    </nav>

  </div>

  <div class = "headings">
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>exterior</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>office</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>public service</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>residential</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>physical model</strong></blockquote></div></a>
    <a href = "#" class = "project-link"><div class = "col-md-2"><blockquote><strong>sketch</strong></blockquote></div></a>
  </div>

  <div class = "projects">

    <div class = "row project-row">
      <div class = "col-md-offset-1 col-md-2 project-image station4"></div>
      <div class = "col-md-2 project-image cozzens3"></div>
      <div class = "col-md-2 project-image residential5"></div>
      <div class = "col-md-2 project-image residential3"></div>
      <div class = "col-md-2 project-image residential"></div>
      <div class = "col-md-2 project-image ka"></div>
    </div>

    <br />

    <div class = "row project-row">
      <div class = "col-md-offset-1 col-md-2 project-image ka2"></div>
      <div class = "col-md-2 project-image station11"></div>
      <div class = "col-md-2 project-image station2"></div>
      <div class = "col-md-2 project-image station3"></div>
      <div class = "col-md-2 project-image station12"></div>
      <div class = "col-md-2 project-image wall"></div>
    </div>

    <br />

  </div>

