
<div id = "content" class = "projects-page">

  <%= render "static_pages/partials/header" %>
  <%= render "static_pages/partials/project_nav" %>

  <div class = "projects">

    <div class = "row project-row">


      <% @row1.each_with_index do |image, index| %>
        <% if index == 0 %>
          <a href = "http://cdn.rendartstl.com/images/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-offset-1 col-md-2 project-image <%= image %>"></div>
          </a>       
        <% else %>
          <a href = "http://cdn.rendartstl.com/images/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-2 project-image <%= image %>"></div>
          </a>
        <% end %>

        <script> 
          $("#<%= image %>Link").fancybox();
        </script>
      <% end %>


    </div>

    <br />

      <% @row2.each_with_index do |image, index| %>
        <% if index == 0 %>
          <a href = "http://cdn.rendartstl.com/images/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-offset-1 col-md-2 project-image <%= image %>"></div>
          </a>       
        <% else %>
          <a href = "http://cdn.rendartstl.com/images/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-2 project-image <%= image %>"></div>
          </a>
        <% end %>
        <script> 
          $("#<%= image %>Link").fancybox();
        </script>
      <% end %>



  </div>

