
<div id = "content" class = "projects-page">

  <div class = "" id = "header">
    <a href = "/"><%= image_tag "logo.png", id: "logo", class: "col-md-4" %></a>

    <nav id = "nav" class = "col-md-7">
    <%= link_to "home", root_path, class: "link" %>
    <%= link_to "projects", "/projects/exterior", class: "link" %>
    <%= link_to "clients", "#", class: "link" %>
    <%= link_to "contact", contact_path, class: "link" %>
    </nav>

  </div>

  <div class = "headings">
    <a href = "/projects/exterior" class = "project-link"><div class = "col-md-2"><blockquote><strong>exterior</strong></blockquote></div></a>
    <a href = "/projects/office" class = "project-link"><div class = "col-md-2"><blockquote><strong>office</strong></blockquote></div></a>
    <a href = "/projects/public_service" class = "project-link"><div class = "col-md-2"><blockquote><strong>public service</strong></blockquote></div></a>
    <a href = "/projects/residential" class = "project-link"><div class = "col-md-2"><blockquote><strong>residential</strong></blockquote></div></a>
    <a href = "/projects/physical_model" class = "project-link"><div class = "col-md-2"><blockquote><strong>physical model</strong></blockquote></div></a>
    <a href = "/projects/sketch" class = "project-link"><div class = "col-md-2"><blockquote><strong>sketch</strong></blockquote></div></a>
  </div>

  <div class = "projects">

    <div class = "row project-row">


      <% @row1.each_with_index do |image, index| %>
        <% if index == 0 %>
          <a href = "/assets/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-offset-1 col-md-2 project-image <%= image %>"></div>
          </a>       
        <% else %>
          <a href = "/assets/<%= image %>.jpg" id = "<%= image %>Link">
            <div class = "col-md-2 project-image <%= image %>"></div>
          </a>
        <% end %>

        <script> 
          $("#<%= image %>Link").fancybox();
        </script>
      <% end %>


    </div>

  </div>

